<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tancify</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">Tancify</div>
            <div class="list-group list-group-flush nav nav-tabs nav-fill" role="tablist">
                <a href="#my-subjects" id="nav-my-subjects-tab" data-toggle="tab" role="tab" aria-controls="nav-my-subjects" aria-selected="true" class="list-group-item list-group-item-action bg-light nav-item nav-link active">Tantárgyaim</a>
                <a href="#all-subjects" id="nav-all-subjects-tab" data-toggle="tab" role="tab" aria-controls="nav-all-subjects" aria-selected="false" class="list-group-item list-group-item-action bg-light nav-item nav-link">Összes tantárgy</a>
                <a href="#timetable" id="nav-timetable-tab" data-toggle="tab" role="tab" aria-controls="nav-timetable" aria-selected="false" class="list-group-item list-group-item-action bg-light nav-item nav-link">Órarend</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-primary d-block d-lg-none" id="menu-toggle">Menü</button>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Bejelentkezés <span class="sr-only">(current)</span></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <form class="px-4 py-3">
                                    <div class="form-group">
                                        <label for="dropdownemail">Email cím</label>
                                        <input type="email" class="form-control" id="dropdownemail" placeholder="email@example.com">
                                    </div>
                                    <div class="form-group">
                                        <label for="dropdownpasswd">Jelszó</label>
                                        <input type="password" class="form-control" id="dropdownpasswd" placeholder="Password">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Bejelentkezés</button>
                                </form>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Még nem regisztráltál? Regisztráció</a>
                                <a class="dropdown-item" href="#">Elfelejtett Jelszó</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container-fluid tab-content py-3 px-3 px-sm-0">
                <div class="tab-pane fade show active" id="nav-my-subjects" role="tabpanel" aria-labelledby="nav-my-subjects-tab">
                    Tantárgyaim
                </div>
                <div class="tab-pane fade" id="nav-all-subjects" role="tabpanel" aria-labelledby="nav-all-subjects-tab">
                    Osszes Tantargy
                </div>
                <div class="tab-pane fade" id="nav-timetable" role="tabpanel" aria-labelledby="nav-timetable-tab">
                    Orarend
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

</body>

</html>